$bkgr: #071f39;
$text: white;
$fsize: 14pt;
$medsize: 20pt;
$bigsize: 25pt;
$hheight: 40px;
$hsize: 18pt;

body {
    background: $bkgr;
    color: $text;
}

nav img {
    margin-top: -7px;
}

img.center {
    display: block;
    margin: 20px auto;
}

form {
    min-height: 320px;
    background: url('../images/countdown.jpg') no-repeat;
    padding: 245px 0 0 40px;
}

label {
    width: 4em;
}

input {
    margin-right: 20px;
}

input#letters {
    width: 9em;
    text-transform: uppercase;
    background: rgba( 100%, 100%, 100%, 0.7);
}

div.holder {
    margin-top: 20px;
    border: 1px solid lighten( $bkgr, 40% );

    p { margin: 10px; }

    a {
        text-decoration: none;
        color: $text;

        &:hover { color: #ffffa0; }
    }
}

div.header {
    background: lighten( $bkgr, 10% );
    height: $hheight;
    line-height: $hheight;
    font-size: $hsize;
    text-align: center;

    span {
        color: #ffffa0;
    }
}

div#header-9 { background: #800; }  // Red header for 9 letter words

footer {
    margin-top: 20px;
    padding: 10px 0 0 10px;
    border-top: 1px solid #aaa;
    background-color: #ddd;
    color: black;

    nav ul {
        list-style-type: none;

        li {
            float: left;
            margin-right: 20px;
        }
    }

    small {
        font-size: 80%
    }
}

@media (max-width: 994px) {
    li.active {
        display: none;
    }
}

@media (min-width: 790px) and (max-width: 959px) {
    label {
        font-size: $medsize;
    }

    input#letters {
        margin-top: -12px;
        font-size: $medsize;
        height: 50px;
        padding: 0 0 0 10px;
    }

    button.cd {
        font-size: $medsize;
    }
}

@media (min-width: 960px) {
    label {
        font-size: $bigsize;
    }

    input#letters {
        margin-top: -12px;
        font-size: $bigsize;
        height: 60px;
        padding: 0 0 0 10px;
    }

    button.cd {
        font-size: $bigsize;
    }
}
